@CHARSET "UTF-8";
div.chaxun_input_div{
	width: 300px; 
	margin-right: 50px;
	margin-top: 10px;
}
div.daochu_input_div{
	width: 300px; 
}
div.form-dwmc{
	width: 300px; 
	margin-top: 10px;
}
div.button_input_div{
	width: 300px;
    margin-left: 50px;
    margin-top: 10px;
}

div.button_a_div{
	width: 400px;
    margin-left: 50px;
    margin-top: 10px;
}

div.date_input_div_begin{
	width: 140px; 
	margin-right: 15px;
	margin-top: 10px;
	height: 34px;
}

div.date_input_div_end{
	width: 140px; 
	margin-right: 50px;
	margin-top: 10px;
}

div.date_input{
	height: 34px;
}
.control_label_zz{
    width: 130px;
    text-align : right;
}
.control_p{
    width: 140px;
    text-align : left;
}
.bill_info_div{
    width: 800px;
}
.illegal_info_div{
    width: 900px;
}
.baoquan_info{
	width: 900px;
}
.product-buyer-name {
max-width: 110px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.control_label_bbqq{
    width: 110px;
    text-align : left;
}
.control_p1{
    width: 140px;
    text-align : left;
}
.table_th_style{
	text-align : center;
	vertical-align : middle;
}
.table_th_div_style{
	text-align : center;
	vertical-align : middle;
	white-space : nowrap;
	margin-right : 5px;
}

div.xszy{
	margin-left: -20px;
}
.control-label.info {
	font-size:1em;
	padding-top: 14px;
}

div.pageLeft60{
	width: 40% ; 
	float: left ;
	margin-top:5px;
}

div.pageRight40{
	width: 60% ; 
	float: left ;
	margin-top:5px;
}

.form-actions-mod {
    /* background-color: #F5F5F5; */
    /* border-top: 1px solid #E5E5E5; */
    margin-bottom: 40px;
    margin-top: 10px;
    /* padding: 19px 20px 20px; */
}
.login-box-plain-mod {
    /* background: none repeat scroll 0 0 #FFFFFF; */
    /* border: 1px solid #D8D8D8; */
    /* border-radius: 7px 7px 7px 7px; */
    /* box-shadow: 0 1px 4px #D3D3D3; */
    margin: 50px auto;
   /* padding: 55px 60px 60px;*/
    position: relative;
    min-height: 300px;
}

.icon-user{
position: absolute;left: 0；z-index:5;
background-image: url(../bootstrap_resource/img/username.png); /*引入图片图片*/
background-repeat: no-repeat; /*设置图片不重复*/
background-position: 0px 0px; /*图片显示的位置*/
width: 20px; /*设置图片显示的宽*/
height: 20px; /*图片显示的高*/
padding-left:30px;
margin-top:10px;
margin-left:5px;
}

.icon-pwd{
position: absolute;left: 0；z-index:5;
background-image: url(../bootstrap_resource/img/password.png); /*引入图片图片*/
background-repeat: no-repeat; /*设置图片不重复*/
background-position: 0px 0px; /*图片显示的位置*/
width: 20px; /*设置图片显示的宽*/
height: 20px; /*图片显示的高*/
padding-left:30px;
margin-top:10px;
margin-left:5px;
}
.user{
	padding-left:30px;
}
.pwd{
	padding-left:30px;
}
.lable70{
	width:70px;
	text-align: right;
}
.width200{
	width:200px;
}